<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebChat</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <header>
        <div id="container">
            <h1>WELCOME USER</h1>
        </div>
    </header>
        <aside >
            <h1>Users online</h1>
            <div id="users">
                <ul th:each="u : ${users}">
                    <li th:utext="${u.username}">

                    </li>
                </ul>
            </div>
        </aside>
        <main>
            <div id="chat-page" class="hidden">
                <div class="chat-container">
                    <div id="msgArea">
                        <ul th:each="m : ${messages}" id="msg">
                            <li>
                                <span th:utext="${m.time}" class="spanTime"></span>
                                <span th:utext="${m.username}" class="spanUsername"></span>
                                <span th:utext="${m.message}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div id="footer-msg">
                <form id="messageForm" method="POST" th:action="@{chat}"> <!--action="javascript:void(null)" onsubmit="say()"-->
                    <input id="message" name="message" class="message" value="" type="text" placeholder="Your message" />
                    <button type="submit" class="btn-msg">Send</button>
                </form>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </footer>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>